{% extends 'main/main-layout.html' %}
{% block main_section %}
<div class="container mt-5">
    <center><h1 class="logo">Создание сокращений для Ссылок</h1></center>
    <form method="POST" class="form-control">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn">Сделать</button>
    </form>
    <center><h1 class="logo mt-5">Доступные для Вас ссылки</h1></center>
    <ol class="all-links">
    {% for link in links %}
        <li>Ваша сокращенная ссылка - <a href="{{ link.get_absolute_url }}" target="_blank">{{ link.get_absolute_url }}</a></li>
    {% endfor %}
    </ol>
</div>
{% endblock main_section %}
